    <table class="table table-hover" id="post{{ post.id }}" style="margin-bottom: 0px;">
        <tr>
            <td width="32px">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    <img src="{{ post.author.avatar(32) }}" />
                </a>
            </td>
            <td>
                <span class="user_popup">
                    <a href="{{ url_for('main.user', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                </span>
                : ({{ moment(post.timestamp).fromNow() }})
                {% if post.author == current_user %}
                    &emsp; <a href="javascript:delete_post(
                                '{{ post.id }}',
                                '#post{{ post.id }}')">删除</a>
                {% endif %}
                <br>


                {% for seg in post.rich_content() %}
                {% if seg[0] %}
                    <img style="max-width:200px;max-height:200px;" src="{{seg[1]}}"/>
                {% else %}
                    {{ seg[1] }}
                {% endif %}
                {% endfor %}

                <br>
                <span class="reply_post" id="reply{{ post.id }}">
                    <a href="javascript:reply_post(
                                '{{ post.id }}',
                                '#reply{{ post.id }}')">
                        回复</a>
                </span>
                {% with sub_posts=post.sub_posts %}
                {% if sub_posts %}
                    <br>
                    {% for post in sub_posts %}
                        {% include '_post.html' %}
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </td>
        </tr>
    </table>