<table class="table">
    <tr>
        <td width="64" style="border: 0px;"><img src="{{ user.avatar(64) }}"></td>
        <td style="border: 0px;">
            <p><a href="{{ url_for('main.user', username=user.username) }}">
                {{ user.username }}
            </a></p>
            <small>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>最近活动: {{ moment(user.last_seen).format('YYYY/M/D hh:mm') }}</p>{% endif %}
                <p>{{ user.followers.count() }} 粉丝, {{ user.followed.count() }} 关注</p>
                {% if user != current_user %}
                    {% if not current_user.is_following(user) %}
                    <p>
                        <form action="{{ url_for('main.follow', username=user.username) }}"
                              method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value=_('关注'),
                                           class_='btn btn-default btn-sm') }}
                        </form>
                    </p>
                    {% else %}
                    <p>
                        <form action="{{ url_for('main.unfollow', username=user.username) }}"
                              method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value=_('取关'),
                                           class_='btn btn-default btm-sm') }}
                        </form>
                    </p>
                    {% endif %}
                {% endif %}
            </small>
        </td>
    </tr>
</table>